REACT_APP_INFURA_KEY=
REACT_APP_WALLETCONNECT_BRIDGE_URL=https://bridge.walletconnect.org
REACT_APP_FINNHUB_API_KEY=

# place this in .env.development
ESLINT_NO_DEV_ERRORS=true

# place this in .env.production otherwise the compilation will fail
DISABLE_ESLINT_PLUGIN=true
