:root {
  --bg-radiant: radial-gradient(50% 50% at 50% 50%, var(--c-primary4) 25%, var(--c-bg0) 100%);
  --bg-modal: rgba(0, 0, 0, 0.3);

  /* backgrounds / greys */
  --c-bg0: #FFF;    /* lightest gray */
  --c-bg1: #F7F8FA;
  --c-bg2: #EDEEF2;
  --c-bg3: #CED0D9;
  --c-bg4: #888D9B;
  --c-bg5: #888D9B;
  --c-bg6: #6C7284; /* darkest gray */

  /* primary colors */
  --c-primary1: #ff007a; /* darkest pink */
  --c-primary2: #FF8CC3;
  --c-primary3: #FF99C9;
  --c-primary4: #F6DDE8;
  --c-primary5: #FDEAF1; /* lightest pink */

  /* secondary colors */
  --c-secondary1: #ff007a; /* darkest pink */
  --c-secondary2: #F6DDE8;
  --c-secondary3: #FDEAF1; /* lightest pink */

  /* fonts */
  --font-primaryText1: #ff007a;  /* main pink */
  --font-text1: #000000; /* darkest dark */
  --font-text2: #565A69;
  --font-text3: #888D9B;
  --font-text4: #C3C5CB;
  --font-text5: #EDEEF2; /* lightest dark */

  --fontsize-header: 20px;
  --fontsize-block: 16px;
  --fontsize-text: 11px;
}

.dark:root {
  --bg-radiant: linear-gradient(45deg, var(--c-bg0) 50%, #2e0101 100%);
  --bg-modal: rgba(255, 255, 255, 0.1);

  /* backgrounds / greys */
  --c-bg0: #191B1F; /* darkest */
  --c-bg1: #1A2028;
  --c-bg2: #212429;
  --c-bg3: #2C2F36;
  --c-bg4: #40444F;
  --c-bg5: #565A69;
  --c-bg6: #6C7284; /* lightest */

  /* primary colors */
  --c-primary1: #3680E7;
  --c-primary2: #4D8FEA;
  --c-primary3: #2172E5; /* lightest blue */
  --c-primary4: #376bad;
  --c-primary5: #153d6f; /* darkest blue */

  /* secondary colors */
  --c-secondary1: #2172E5; /* light blue */
  --c-secondary2: #170b26; /* purplish blue */
  --c-secondary3: #170b26; /* purplish blue */

  /* fonts */
  --font-primaryText1: #6da8ff;  /* main blue */
  --font-text1: #FFFFFF; /* white */
  --font-text2: #C3C5CB;
  --font-text3: #6C7284;
  --font-text4: #565A69;
  --font-text5: #2C2F36; /* dark */
}

@media (max-width: 767px) {
  :root {
    --fontsize-text: 10px;
  }
}
