.pro-sidebar-inner {
  background-color: var(--c-bg0) !important;
  border-right: 1px solid var(--c-bg2);
}

@media (min-width: 768px) {
  .pro-sidebar-inner {
    -webkit-box-shadow: 0px 0px 40px 10px var(--c-bg2);
    -moz-box-shadow: 0px 0px 40px 10px var(--c-bg2);
    box-shadow: 0px 0px 20px 0px var(--c-bg1);
  }
}

/* button wrapper  */
.pro-menu-item {
  margin: 10px;
  border-radius: 10px;
  border: 1px solid var(--c-bg3);
}

.pro-menu-item:hover {
  background-color: var(--c-bg1) !important;
}

.pro-menu-item:hover,
.pro-menu-item.active:hover {
  border: 1px solid var(--c-primary2) !important;
}

.pro-menu-item.active {
  font-weight: bold;
  background-color: var(--c-primary5) !important;
}

/* button content */
.pro-item-content {
  color: var(--font-text1) !important;
  font-size: var(--fontsize-header) !important;
}

.pro-menu-item.active > .pro-inner-item > .pro-item-content {
  color: var(--font-primaryText1) !important;
}

/* icon */
.pro-icon {
  animation: none !important;
}
